{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

    <div class="feature text-center">
        <h1>Welcome, This is An API Fetcher</h1>
        <hr>
        <h2>Using MyAnimeList API</h2>
    </div>

    <div class="text-left">
        <h3>What Can You Do ? <br>You Can :</h3>
        <p>1. Do Single Search about an Anime and get its Details.</p>
        <p>2. Do File search Using (.txt) file.</p>
        <p>2. Do Multi Anime Name search.</p>
        <p>3. Add and Save Your Favorite Anime.</p>
        <p>4. Also Delete Saved Animes.</p>
        <p>5. Veiw Saved Animes.</p>
        <p>6. Delete Your Account.</p>
    </div>


{% endblock %}


